/* .accordion {
  max-width: 550px;
  min-width: 200px;
  margin: 0 0 20px 0;
}

.accordion .contentBx {
  position: relative;
}

.accordion .contentBx .lable {
  position: relative;
  padding: 10px;
  background-color: #fff;
  color: #242a35;
  cursor: pointer;
}

.accordion .contentBx .lable::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.accordion .contentBx.active .lable::before {
  content: '-';
  transition: 0.5s;
}

.accordion .contentBx .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  overflow-y: auto;
}

.accordion .contentBx.active .content {
  height: 100%;
  margin: 0px 0px 10px 0px;
  padding: 10px;
} */



.accordion {
  position: relative;
  padding: 10px;
  background-color: #fff;
  color: rgb(36, 42, 53);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border:none;
  width: 100%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgba(36, 42, 53, .05);
  border-radius: 2px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
